{% extends 'base.html' %}
{% block title %}Login{% endblock%}
{% block name_page %}<h3 class="masthead-brand">LogIN Page</h3>{% endblock%}
{% block content %}


<form method="post">
    {% csrf_token %}

<div class="form-error">{{ form.non_field_errors }}</div>
<h1>Please enter your name and password</h1>

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button type="submit">LogIN</button>
</form>

{% endblock %}