{% extends 'base.html' %}
{% block title %}Login{% endblock%}
{% block name_page %}<h3 class="masthead-brand">LogIN Page</h3>{% endblock%}
{% block content %}
{% load crispy_forms_tags %}
<div class="border border-secondary border-3 mt-5 mr-auto ml-auto " style="margin-right: auto; margin-left: auto; width: 800px; ">
<form method="post">
    {% csrf_token %}

<div class="form-error">{{ form.non_field_errors }}</div>
<h1>Login</h1>
<div style="margin-right: auto; margin-left: auto; width: 400px; ">
    {{ form|crispy }}
</div>
    <button class="btn btn-success" type="submit">LogIN</button>
</form>
</div>
{% endblock %}